{% extends 'base.html' %}

{% block title %}
    Index
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card mb-3">
              <h3 class="card-header">Тестовое задание</h3>
              <div class="card-body">
                <h5 class="card-title">Привет {{ user.last_name }} {{ user.first_name }}!</h5>
            {#    <h6 class="card-subtitle text-muted">Support card subtitle</h6>#}
              </div>
              <img style="height: 200px; width: 100%; display: block;" src="{{ image }}" alt="Card image">
              <div class="card-body">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">Фамилия Имя</th>
                      <th scope="col">ссылка</th>
                      <th scope="col">онлайн</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for friend in friends %}
                    <tr>
                      <td>{{ friend.last_name }} {{ friend.first_name }}</td>
                      <td><a href="https://vk.com/{{ friend.domain }}">https://vk.com/{{ friend.domain }}</a></td>
                      <td>{{ friend.online }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <div class="card-body">
                <a href="https://vk.com/{{ user.username }}" class="card-link">link to profile</a>
              </div>
            </div>
        </div>
    </div>

{% endblock %}