{% extends 'base.html' %}

{% block title %}
    Index
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card mb-3">
              <h3 class="card-header">Тестовое задание</h3>
              <div class="card-body">
                <h5 class="card-title">Привет {{ user.last_name }} {{ user.first_name }}! <a href="https://vk.com/{{ user.username }}" class="card-link">link to profile</a></h5>
              </div>
            <img style="width: 200px; height: 200px;" src="{{ image }}">
              <div class="card-body">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">Фамилия Имя</th>
                      <th scope="col">Ссылка</th>
                      <th scope="col">Онлайн</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for friend in friends %}
                    <tr>
                      <td>{{ friend.last_name }} {{ friend.first_name }}</td>
                      <td><a href="https://vk.com/{{ friend.domain }}">https://vk.com/{{ friend.domain }}</a></td>
                      <td> {% if friend.online %}
                                <i class="fa fa-check-circle-o text-success" aria-hidden="true"></i>
                           {% else %}
                                <i class="fa fa-times-circle-o text-muted" aria-hidden="true"></i>
                           {% endif %}
                      </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
        </div>
    </div>

{% endblock %}